.app-header {
  background-color: #135706a8; /* Change this color to suit your design */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distributes space between items */
  color: white;
  border-bottom: 4px solid #e0e0e0; /* Add a bottom border */
    margin-bottom: 20px;
}

.home-icon {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
  flex-grow: 1; /* Ensures h1 takes available space and centers */
}